/*!общие стили*/
html {
	box-sizing: border-box;
}
 *, *::before, *::after {
	box-sizing: inherit;
	padding-inline-start: 0;
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/open-sans-v28-latin-regular.woff2") format("woff2"),
	url("fonts/open-sans-v28-latin-regular.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: url("fonts/open-sans-v28-latin-600.woff2") format("woff2"),
	url("fonts/open-sans-v28-latin-600.woff") format("woff");
}
body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 600;
	font-style: normal;
	color: #808080;
}
h3 {
	margin: 0;
}
ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
}
p {
	margin-block-start: 0;
	margin-block-end: 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.visually-hidden {
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

/*!стили для страницы*/
.page-header__top-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 51px;
	padding-right: 23px;
}
.user-block {
	display: flex;
	align-items: center;
}
.user-block__item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.user-block__item:last-child {
	margin-right: 0;
}
.user-block__item--img {
	width: 32px;
	height: 32px;
	background-color: #C4C4C4;
	border-radius: 50%;
}
.user-block__item--name {
	font-weight: 400;
	color: #1B1F24;
}
.page-header__bottom-block {
	display: flex;
	align-items: center;
	min-height: 48px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #F3F2ED;
}
.breadcrumb__item {
	position: relative;
	display: inline-block;
	margin-right: 15px;
}
.breadcrumb__item:last-child {
	margin-right: 0;
}
.breadcrumb__item::after {
	content: "";
	position: absolute;
	display: block;
	width: 5px;
	height: 10px;
	top: 5px;
	right: -11px;
	background: url("img/breadcrumb_next.svg") no-repeat center center;
}
.breadcrumb__item:last-child::after {
	display: none;
}
.breadcrumb__link {
	font-weight: 400;
	color: #058DC7;
}
.breadcrumb__item--active {
	font-weight: 400;
}
.breadcrumb__item--active a {
	font: inherit;
	color: inherit;
}
.page-main {
	/* display: grid;
	grid-template-columns: 340px 1fr; */
	display: flex;
}
.page-main__left-section {
	width: 340px;
	flex-shrink: 0;
	position: relative;
}
@media screen and (max-width: 950px) {
	.page-main__left-section {
		display: none;
	}
}
.page-main__left-section::after {
	content: "";
	position: absolute;
	top: 3px;
	right: -2px;
	display: block;
	width: 1px;
	height: 100%;
	background-color: #E4E4E4;

}
.search-form {
	display: flex;
	align-items: center;
	min-height: 22px;
	padding-left: 25px;
}
.search-form__button {
	display: block;
	width: 12px;
	height: 12px;
	margin-right: 11px;
	background: transparent url("img/find.svg") no-repeat center center;
	border: none;
}
.search-form__input {
	border: none;
}
.user-item {
	display: flex;
	align-items: center;
	min-height: 88px;
	padding-left: 25px;
	padding-right: 27px;
	background-color: #E7E6E1;
	font-weight: 400;
	opacity: 50%;
}
.user-item--active {
	opacity: 100%;
}
.user-item__img {
	width: 50px;
	height: 50px;
	margin-right: 12px;
	border-radius: 50%;
}
.user-item__img--active {
	width: 57px;
	height: 57px;
}
.user-info__name {
	margin-bottom: 2px;
	font-weight: 700;
	color: #058DC7;
}
.user-info__name--active {
	position: relative;
}
.user-info__name--active::after {
	content: "";
	position: absolute;
	top: 5px;
	right: 15px;
	display: block;
	width: 13px;
	height: 9px;
	background: url("img/eye.svg") no-repeat center center;
}
.user-info__position {
	margin-bottom: 3px;
}
.user-info__status {
	display: inline-block;
	padding: 2px 5px;
	font-size: 12px;
	border-radius: 5px;
}
.user-info__status--green {
	display: inline-block;
	padding: 2px 5px;
	font-size: 12px;
	background-color: #2DD0C6;
	border-radius: 5px;
}
.user-info__status--red {
	background-color: #EE144E;
}
.user-item__number {
	margin-left: auto;
	font-size: 22px;
	font-weight: 600;
}
.user-item__number--active {
	color: #EE144E;
}
.user-item--active {
	background-color: #FFFFFF;
}
.page-main__right-section {
	flex-grow: 1;
	padding-left: 7px;
}
.person {
	display: flex;
	column-gap: 59px;
	padding-top: 16px;
	border-bottom: 1px solid #E4E4E4;
}
.person__left-block {
	display: flex;
	flex-shrink: 0;
	padding-left: 16px;
}
.person__img-block {
	position: relative;
	width: 58px;
	height: 58px;
	margin-right: 15px;
}
.person__img-block::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 17px;
	height: 17px;
	background: #FFFFFF url("img/smile.svg") no-repeat center center;
	border-radius: 50%;
}
.person__img {
	width: 58px;
	height: 58px;
	border-radius: 50%;
}
.person__name {
	position: relative;
	font-size: 25px;
	line-height: 34px;
	color: #000000;
}
.person__name::after {
	content: "";
	position: absolute;
	top: 5px;
	right: -17px;
	display: block;
	width: 15px;
	height: 10px;
	background: url("img/eye.svg") no-repeat center center;
}
.person__position {
	padding-left: 4px;
	font-size: 12px;
	font-weight: 400;
}
.person__right-block {
	flex-grow: 1;
	padding-right: 20px;
}
.analytics__top-block {
	display: flex;
	justify-content: space-between;
	padding-top: 8px;
}
.analytics__activity {
	margin-right: 70px;
}
.analytics__text {
	font-weight: 400;
}
.analytics__text--time {
	color: #000000;
}
.analytics__back {
	padding-left: 16px;
}
.analytics__link {
	position: relative;
	font-weight: 400;
	color: #058DC7;
}
.analytics__link::before {
	content: "";
	position: absolute;
	top: 7px;
	left: -15px;
	display: block;
	width: 11px;
	height: 6px;
	background: url("img/blue-arrow.svg") no-repeat center center;
}
.analytics__bottom-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}
.analytics-item {
	flex-grow: 1;
	position: relative;
	padding-right: 25px;
	padding-bottom: 25px;
}
.analytics-item:last-child {
	padding-right: 0;
}
.analytics-item::after {
	content: "";
	position: absolute;
	top: 9px;
	right: 20px;
	display: block;
	width: 1px;
	height: 37px;
	background-color: #C6C6C6;
}
.analytics-item:last-child:after {
	display: none;
}
@media screen and (max-width: 950px) {
	.analytics__item {
		max-width: 160px;
	}
}
.analytics-item__title {
	margin-bottom: 10px;
}
.analytics-item__numbers {
	display: flex;
	align-items: baseline;
	min-height: 20px;
}
.analytics-item__total {
	margin-right: 3px;
	font-size: 25px;
	color: #000000;
}
.analytics-item__delta {
	position: relative;
}
.analytics-item__delta::before {
	content: "";
	position: absolute;
	top: -4px;
	left: 0;
	display: block;
	width: 7px;
	height: 4px;
}
.analytics-item__delta--red-down {
	color: #EE144E;
}
.analytics-item__delta--red-down::before {
	background: url("img/down.svg") no-repeat center center;
}
.analytics-item__delta--green-up::before {
	background: url("img/up.svg") no-repeat center center;

}
.analytics-item__delta--red-up::before {
	background: url("img/up_red.svg") no-repeat center center;
}
.analytics-links {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 25px;
}
.analytics-links__item {
	margin-right: 13px;
}
.analytics-links__item:last-child {
	margin-right: 0;
}
.wrapper {
	padding-left: 31px;
}
.anomalies {
	padding-right: 55px;
	margin-bottom: 73px;
}
.section-title {
	font-weight: 400;
	text-transform: uppercase;
}
.anomalies__list {
	display: flex;
	justify-content: space-between;
}
.anomalies__item {
	position: relative;
	display: flex;
	align-items: center;
	width: 33%;
	max-width: 404px;
	margin-right: 21px;
	border: 1px solid #EE144E;
	padding: 20px 20px 20px 40px;
}
.anomalies__item:last-child {
	margin-right: 0;
}
.anomalies__item::before {
	content: "";
	position: absolute;
	top: calc(50% - 7px);
	left: 12px;
	display: block;
	width: 15px;
	height: 14px;
	background: url("img/attention.svg") no-repeat center center;
}
.indicators {
	padding-right: 20px;
	margin-bottom: 20px;
}
.indicators__list--empty {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 195px;
	background-color: #F3F2F2;
}
.indicators__text {
	font-weight: 400;
	color: #989898;
}
.statistics {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1500px;
	padding-right: 55px;
	margin: 0 auto;
}
.statistics__item {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: auto;
	max-width: 352px;
	margin-right: 7%;
	padding-bottom: 30px;
}
.statistics__item:last-child {
	margin-right: 0;
}
.statistics__table {
	min-height: 140px;
	margin-top: 20px;
	border-collapse: collapse;
}
.text-overflow {
	width: 60%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media screen and (min-width: 951px){
	.text-overflow {
		width: 70%;
	}
}
@media screen and (min-width: 1050px) {
	.text-overflow {
		width: 85%;
	}
}
@media screen and (min-width: 1400px) {
	.text-overflow {
		width: 100%;
	}
}
.statistics__header {
	padding-bottom: 4px;
	text-align: left;
	border-bottom: 1px solid #D1CFD7;
}
.statistics__header--right {
	text-align: right;
}
.statistics__header--center {
	text-align: center;
}
.statistics__data {
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: 400;
	border-bottom: 1px solid #D1CFD7;
}
.statistics__data--dot {
	position: relative;
	padding-left: 20px;
}
.statistics__data--dot::before {
	content: "";
	position: absolute;
	top: calc(50% - 5px);
	left: 0;
	display: block;
	width: 10px;
	height: 10px;
	background-color: #F8D77F;
}
.statistics__data--dot-red::before {
	background-color: #F689A8;
}
.statistics__data--dot-green::before {
	background-color: #A6C8B3;
}
.statistics__data--text-center {
	text-align: center;
}
.statistics__data--text-right {
	text-align: right;
}
.statistics__data--time {
	color: #058DC7;
}
.delta-time {
	font-size: 10px;
}
.delta-time--red {
	color: #EE144E;
}
.delta-time--green {
	color: #00983E;
}
@media screen and (max-width: 1280px) {
	.delta-time {
		display: block;
	}
}